page-signin {
  
.button-round-ios {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 300px;
}

.button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 300px;
}

  #signInButton{
    margin-top: 20px;
    width: 300px;
    // margin-left: 20px;
  }

  #signUpButton{
    margin-top: 20px;
    width: 300px;
  }

.button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 300px;
    margin-left: 13px;
}

.button-round-ios {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 300px;
    margin-left: 15px;
}

  img {
    max-width: 100%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin-left: 50px;
    margin-top: 50px;
    height:15%;
}

  .firstInput{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 300px;
    height:auto;
    border: 2px solid;
    border-style:groove;
    backface-visibility: visible;
  }

  .secondInput{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 300px;
    height:auto;
    border: 2px solid;
    border-style: groove;
  }

}
